@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

<p>@Html.ActionLink("View all stylists", "Index")</p>